:root {
    --overhaulsize: 0vh;
    --ballSize: calc(var(--overhaulsize) + 30vh);
    --animspeed: 4s;
    --ballshadowSize: var(--ballSize);
    --irissize: calc(var(--overhaulsize) + 15vh);
    --irisbSize: calc(var(--overhaulsize)/2 + 3vh);
    --blursize: 2px;
    --color_shadow: rgb(7, 2, 15);
    --color_b: rgb(214, 161, 14);
    --color_bs: rgb(24, 24, 24);
    --color_specular: rgba(255, 255, 255, 0.3);
    --color_specularb: #b9b3f5;
    --color_bgd: rgb(58, 57, 71);
    --color_bgl: grey;
}
* {
    border: none;
    outline: none;
    margin: 0;
}
body {
    overflow: hidden;
}
.artbox {
    background: linear-gradient(250deg, var(--color_bgl) , var(--color_bgd));
    height: 100vh;
    width: 100vw;
}
.circle {
    border-radius: 50%;
}
.centralized {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.blur {
    filter: blur(var(--blursize));
}

.ball {
    width: var(--ballSize);
    height: var(--ballSize);
    top: 40%;
    background: 
        linear-gradient(22deg, transparent 20%, var(--color_b)),
        radial-gradient(var(--color_b), var(--color_bs) 70%),
        var(--color_b);
        overflow: hidden;
    animation: float infinite ease-in-out var(--animspeed);
}

.specular {
    width: var(--ballSize);
    height: var(--ballSize);
    --specular_size: 60%;
    --specular_width: 6%;
    background:
        radial-gradient(
            transparent var(--specular_size),
            var(--color_specular) var(--specular_size),
            var(--color_specular) calc(var(--specular_size) + var(--specular_width)),
            transparent calc(var(--specular_size) + var(--specular_width)));
    clip-path: polygon(
        50% 50%,
        
        56% 0,
        67% 0,
        
        50% 50%,

        70% 0,
        100% 0,
        100% 19%,
        
        50% 50%,
        
        100% 23%,
        100% 35%,
        
        50% 50%,
        
        100% 38%,
        100% 50%);
    opacity: .6;
    transform: translate(50%, -50%) rotate(-22deg);
    animation: specular infinite ease-in-out var(--animspeed);
}

.shadow {
    width: var(--ballshadowSize);
    height: var(--ballshadowSize);
    background: var(--color_shadow);
    transform:
        perspective(100vh)
        translate(20%, 40%)
        translateZ(0)
        rotateX(90deg)
        rotateY(0deg);
    animation: shadow infinite ease-in-out var(--animspeed);
}

.shadowsubcolor {
    background: radial-gradient(white -25%, transparent 25%, var(--color_b));
    animation:
    shadow infinite ease-in-out var(--animspeed),
    subcolor infinite ease-in-out var(--animspeed);
}

@keyframes subcolor {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    50% {
        opacity: .2;
    }
    60% {
        opacity: .2;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes float {
    0% {
        top: 20%;
        transform: translate(50%, -50%) rotate(0deg);
    }   
    50% {
        top: 55%;
        transform: translate(50%, -50%) rotate(-8deg);
    }
    100% {
        top: 20%;
        transform: translate(50%, -50%) rotate(0deg);
    }    
}

@keyframes specular {
    0% {
        transform: translate(50%, -50%) rotate(-22deg);
    }      
    50% {
        transform: translate(50%, -50%) rotate(-24deg);
    }      
    100% {
        transform: translate(50%, -50%) rotate(-22deg);
    }            
}

@keyframes shadow {
    0% {
        opacity: .9;
        filter: blur(20px);
        transform:
            perspective(100vh)
            translate(0%, 40%)
            translateZ(-20vh)
            rotateX(90deg)
            rotateY(0deg);
    }
    50% {
        opacity: 1;
        filter: blur(2px);
        transform:
            perspective(100vh)
            translate(20%, 40%)
            translateZ(0vh)
            rotateX(90deg)
            rotateY(0deg);
    }
    100% {
        opacity: .9;
        filter: blur(20px);
        transform:
            perspective(100vh)
            translate(0%, 40%)
            translateZ(-20vh)
            rotateX(90deg)
            rotateY(0deg);
    }
}