* {
    margin: 0;
    user-select: none;
    outline: none;
}
body {
    background: black;
}

img {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 20%;
    position: relative; 
    right: -50%;
    transform: translateX(-50%);
    margin-top: 10px;
}
div {
    position: relative; 
    right: -50%;
    transform: translateX(-50%);
}

#i1 { 
    animation: shaper 5s cubic-bezier(0.25, 0.98, 0.9,-0.6) infinite;
}
#i2 {
    animation: circular 5s infinite;
}
#i3 {
    transition: none;
}
#io1 { 
    filter: grayscale(100%) brightness(.2) blur(1px);
}
#io2 {
    position: absolute;
    right: 50%;
    top: 0%;
    transform: translateX(50%);
}

@keyframes circular {
    0% {
        clip-path: circle(40%);
    }
    50% {
        clip-path: circle(10%);
    }
    100% {
        clip-path: circle(40%);
    }
}

@keyframes shaper {
    0% {
        clip-path: polygon(0% 0, 0% 100%, 100% 0);
    }
    25% {
        clip-path: polygon(0% 0, 0% 100%, 100% 100%);
    }
    50% {
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(100% 0, 0% 0%, 100% 100%);
    }
    100% {
        clip-path: polygon(100% 0, 0% 0%, 0% 100%);
    }
}
::-webkit-scrollbar {
    opacity: 0;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: url(https://cache.desktopnexus.com/thumbseg/875/875186-bigthumbnail.jpg);
}